# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
.vscode/
*.class

# Spring Boot
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
